/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/db/
/src/EO/*.php~
!/.idea
/.idea/*
Symfony/components
!/components/
/components/*
Supprimerait components/
Supprimerait src/EO/ETicketBundle/Resources/public/components/
Supprimerait .directory
Supprimerait src/EO/ETicketBundle/Entity/AvailableDate.php~
Supprimerait src/EO/ETicketBundle/Entity/Rate.php~
