{% extends 'form_div_layout.html.twig' %}

{%- block _eo_eticketbundle_availabledate_date_widget -%}
     <div {{ block('attributes') }} ></div>
     <input type="hidden" {{ block('widget_attributes') }} data-test="test2" />
{%- endblock _eo_eticketbundle_availabledate_date_widget -%}
