{% if nbPlace == 0 or (nbPlace - nbTicket)<= 0 %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="text-danger ">
                Vous ne pouvez plus ajouter de ticket. Le nombre de place est insuffisant
            </p>
        </div>
    </div>
{% else %}
<div id="eo_eticketbundle_booking_tickets___name__" class="container-fluid ticket-container">
    <div class="row">
        <div class="col-sm-12 text-center ticket-form-header theme-color-normal">
            <h3 class="ticket-title">Ticket</h3>
        </div>
    </div>
    {% if (nbPlace - nbTicket)> 0 and (nbPlace - nbTicket) <= 5 %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-warning label-info">
                    Attention! Il reste {{ nbPlace - nbTicket }} places disponibles
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row row-color">
        <div class="col-sm-8 visitor-form ">
            <div class="form-group has-success">
                <label class="col-sm-3 label-control control-label required" for="eo_eticketbundle_booking_tickets___name___visitorName">Nom</label>
                <div class="col-sm-9">
                    <input type="text" id="eo_eticketbundle_booking_tickets___name___visitorName" name="eo_eticketbundle_booking[tickets][__name__][visitorName]" required="required" class="form-control form-control name">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 label-control control-label required" for="eo_eticketbundle_booking_tickets___name___visitorSurname">Prénom</label>
                <div class="col-sm-9 has-success">
                    <input type="text" id="eo_eticketbundle_booking_tickets___name___visitorSurname" name="eo_eticketbundle_booking[tickets][__name__][visitorSurname]" required="required" class="form-control form-control surname">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label required">Date de naissance</label>
                <div class="col-sm-9">
                    <div id="eo_eticketbundle_booking_tickets___name___visitorDtBirth" class="form-inline"><select id="eo_eticketbundle_booking_tickets___name___visitorDtBirth_day" name="eo_eticketbundle_booking[tickets][__name__][visitorDtBirth][day]" class="form-control day"><option value selected="selected">Jour</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>-<select id="eo_eticketbundle_booking_tickets___name___visitorDtBirth_month" name="eo_eticketbundle_booking[tickets][__name__][visitorDtBirth][month]" class="form-control month"><option value selected="selected">Mois</option></option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>-
                        <select id="eo_eticketbundle_booking_tickets___name___visitorDtBirth_year" name="eo_eticketbundle_booking[tickets][__name__][visitorDtBirth][year]" class="form-control year">
                            <option value selected="selected">Année</option>
                            {% set year_max = "now"|date('Y') %}
                            {% set year_min = year_max - 100 %}
                            {% for y in year_min..year_max %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group has-success" id="eo_eticketbundle_booking_tickets___name___preferredRate_container">
                <label class="col-sm-3 control-label">Tarif réduit</label>
                <div class="col-sm-9">
                    <div class="eo_eticketbundle_booking_tickets___name___preferredRate">
                        <input type="checkbox" id="eo_eticketbundle_booking_tickets___name___preferredRate" name="eo_eticketbundle_booking[tickets][__name__][preferredRate]" value="1">
                        <label for="eo_eticketbundle_booking_tickets___name___preferredRate"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 rate ">
            <div class="form-group">
                <div class="col-sm-12 rate-header text-center theme-color-normal">
                    <h3 class="rate-type">Tarif</h3>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 rate-label-color-normal control-label required" for="ticket___name___priceHT_value">Prix (H.T)</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="ticket___name___priceHT_value" required="required" class="price  form-control" readonly="true">
                        <div class="input-group-addon">€</div>
                    </div>
                </div>
            </div>
                <button class="col-sm-12 col-xs-12 text-center btn btn-lg btn-danger delete-btn bottom-delete-btn" type="button">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}