
/**********************************************************************************************************************/
/*                                                Header style                                                        */
/**********************************************************************************************************************/
.site-header h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px #000000;
}

.site-header h3 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #fff;
}

.navbar-default {
    background-color: #663300!important;
    border-color: #e7e7e7;
}

a.nav-link,
footer a:hover {
    color: #fff !important;
    text-decoration: none;
}

a.nav-link:hover,
footer a:hover {
    color: #f9bf22!important;
}

/**********************************************************************************************************************/
/*                                                Main Content style                                                        */
/**********************************************************************************************************************/

/*    1. Purchase flow style     */
/*********************************/
.purchase-flow-border {
    border: solid 1px #C3A678;
}

.purchase-flow {
    padding: 1.5em;
    margin-top: 76px;
    margin-bottom: 2px;
}

/*        1.1 Purchase Header style     */
/****************************************/

ol.step-names {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    font-size: 17px;
}

ol.step-names > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 1.5em; /* Give each list item a left margin to make room for the numbers */
    padding:14px 76px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border:2px solid #FDED72;
    background:#999966;
}

ol.step-names > li.active {
    color: #ffffff;
}

ol.step-names > li.active:before {
    color:#ffffff;
    background: #98BE10;
}

ol.step-names > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    /*width:2em;*/
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:4px;
    padding:14px;
    border:2px solid #FDED72;
    color:#999999;
    background: #333300;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

/*        1.2 Booking date form style   */
/*          1.2.1  Date info container  */
/*          1.2.2  Booking type button  */
/****************************************/
.dateinfo {
    background-color: #fcfda5;
    margin: 1.0em 0;
    font-size: large;
}

/*        1.3 Booking type button style */
/****************************************/
.booking-choice-btn {
    padding: 14px 22px !important;
    margin: 15px 0;
    color: #878376 !important;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0 !important;
}

.booking-choice-btn.active {
    color: #ffffff !important;
}

/*    2. Step buttons of the purchase flow style */
/*************************************************/
.step-buttons-container {
    border-top: 1px solid #c3a678;
}

.nextBtn,
.previousBtn {
    margin-top: 15px;
}

.btn-style {
    color: #333300;
    background-color: #999966;
    border-color: #fded72;
}

.btn-style:hover{
    color: #ffffff;
    background-color: #98BE10;
}

.btn-style:focus{
    border-color: #fded72!important;
}

.addBtn {
    margin-bottom: 1em;
}

button {
    outline: none!important;
}

/*    3. Ticket container style                  */
/*************************************************/
.ticket-container {
    margin-bottom: 1em;
    background-color: #ffffff;
    border: 1px solid #c3a678;
}

.ticket-form-header {
    /*color: #333300;
    background-color: #ccdaaa;*/
    margin: 3px 0;
}


.delete-btn{
   /* border-radius: 5px!important;*/
    /*border: 1px solid snow!important;*/
    outline: none!important;
}

.price :focus {
    border-color: transparent!important;
    box-shadow: none!important;
    outline: none!important;
}

.theme-color-normal {
    color: #333300;
    background-color: #ccdaaa;
}

.rate-header{
    border-bottom: 8px double #ffffff;
}

.rate-label-color-normal {
    color: #333300;
}

.visitor-form {
    border-right: 1px solid #c3a678;
    border-top: 1px solid #c3a678;
    background-color: #ffffff;
    padding-top: 15px;
}

.rate {
    border-top: 1px solid #c3a678;
}

.row-color {
    background-color: #ccdaaa;;
}

/* SLIDE THREE */

input[type=checkbox] {
    visibility: hidden;
}

[class$='preferredRate'] {
    width: 80px;
    height: 26px;
    background: #ccdaaa;
    /*margin: 20px auto;*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
   position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

[class$='preferredRate']:after {
    content: 'NON';
    font: 12px/26px Arial, sans-serif;
    color: #ff414c;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

[class$='preferredRate']:before {
    content: 'OUI';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

[class$='preferredRate'] label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

[class$='preferredRate'] input[type=checkbox]:checked + label {
    left: 43px;
}


/**********************************************************************************************************************/
/*                                                Footer style                                                        */
/**********************************************************************************************************************/
footer {
    background-color: #dff0d8;
}