<!-- Page Header -->
<!-- Set your header on the line below. -->
<header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <h1>
            <a class="nav-link" href="{{ path('eoe_ticket_homepage') }}">
                <img src="{{ asset('bundles/eoeticket/img/logo2.png') }}" alt="museum logo" />
                eTicket
            </a>
        </h1>
        <h3>
            Bienvenue sur la billetterie du musée du Louvre
        </h3>
    </nav><!-- /.nav -->
</header>

