<!-- Page Header -->
<!-- Set your header on the line below. -->
<header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <h1>
            <a class="nav-link" href="{{ path('eoe_ticket_homepage') }}">eTicket</a>
        </h1>
        <h3>
            Bienvenue sur l'espace de billetterie
        </h3>
    </nav><!-- /.nav -->
</header>

